.slick-slider {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	overflow-x: hidden;
}
.slick-list {
	position: relative;
	display: block !important;

	padding: 100px !important;
	width: 100%;
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: inline-flex;
}
.slick-slide div {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slick-slide > div {
	position: relative;
	transform: scale(1) translateY(0);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 900;
}

.slick-slide.slick-active:not(.slick-center) > div {
	position: relative;
	transform: scale(1.2) translateY(-50px);
	z-index: 901;
}

.slick-center > div {
	position: relative;
	transform: scale(1.6) translateY(-100px);
	z-index: 902;
}

@media (max-width: 1024px) {
	.slick-center > div {
		transform: scale(1.5);
	}
}

@media (max-width: 1024px) {
	.slick-slide.slick-active:not(.slick-center) > div {
		transform: scale(1);
	}
}
